<div id="<%= dom_id list %>">
  <p>
    <strong>Id:</strong>
    <%= list.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= list.user_id %>
  </p>

  <p>
    <strong>Army:</strong>
    <%= list.army_id %>
  </p>

  <p>
    <strong>Value target:</strong>
    <%= list.value_target %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= list.value %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= list.note %>
  </p>

</div>
