<div id="<%= dom_id model %>">
  <p>
    <strong>Name:</strong>
    <%= model.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model.description %>
  </p>

  <p>
    <strong>Movement:</strong>
    <%= model.movement %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= model.cost %>
  </p>

  <p>
    <strong>Min squad:</strong>
    <%= model.min_squad %>
  </p>

  <p>
    <strong>Max squad:</strong>
    <%= model.max_squad %>
  </p>

  <p>
    <strong>Unit limit:</strong>
    <%= model.unit_limit %>
  </p>

  <p>
    <strong>Toughness:</strong>
    <%= model.toughness %>
  </p>

  <p>
    <strong>Armour save:</strong>
    <%= model.armour_save %>
  </p>

  <p>
    <strong>Invuln save:</strong>
    <%= model.invuln_save %>
  </p>

  <p>
    <strong>Wounds:</strong>
    <%= model.wounds %>
  </p>

  <p>
    <strong>Leadership:</strong>
    <%= model.leadership %>
  </p>

  <p>
    <strong>Obj control:</strong>
    <%= model.obj_control %>
  </p>

</div>
