<div id="<%= dom_id strategem %>">
  <p>
    <strong>Id:</strong>
    <%= strategem.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= strategem.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= strategem.cost %>
  </p>

  <p>
    <strong>When:</strong>
    <%= strategem.when %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= strategem.target %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= strategem.effect %>
  </p>

  <p>
    <strong>Restrictions:</strong>
    <%= strategem.restrictions %>
  </p>

  <p>
    <strong>Detachment:</strong>
    <%= strategem.detachment_id %>
  </p>

</div>
