<div id="<%= dom_id wargear_option %>">
  <p>
    <strong>Model:</strong>
    <%= wargear_option.model_id %>
  </p>

  <p>
    <strong>Add to model:</strong>
    <%= wargear_option.add_to_model %>
  </p>

  <p>
    <strong>Weapon swaps:</strong>
    <%= wargear_option.weapon_swaps %>
  </p>

  <p>
    <strong>For n models:</strong>
    <%= wargear_option.for_n_models %>
  </p>

  <p>
    <strong>N models weapon swap:</strong>
    <%= wargear_option.n_models_weapon_swap %>
  </p>

</div>
