<%= form_with(model: squad_leader) do |form| %>
  <% if squad_leader.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(squad_leader.errors.count, "error") %> prohibited this squad_leader from being saved:</h2>

      <ul>
        <% squad_leader.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :leader_id, style: "display: block" %>
    <%= form.number_field :leader_id %>
  </div>

  <div>
    <%= form.label :squad_id, style: "display: block" %>
    <%= form.number_field :squad_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
