<p style="color: green"><%= notice %></p>

<%= render @squad_leader %>

<div>
  <%= link_to "Edit this squad leader", edit_squad_leader_path(@squad_leader) %> |
  <%= link_to "Back to squad leaders", squad_leaders_path %>

  <%= button_to "Destroy this squad leader", @squad_leader, method: :delete %>
</div>
