<div id="<%= dom_id game %>">
  <p>
    <strong>Id:</strong>
    <%= game.id %>
  </p>

  <p>
    <strong>Player one:</strong>
    <%= game.player_one_id %>
  </p>

  <p>
    <strong>Player two:</strong>
    <%= game.player_two_id %>
  </p>

  <p>
    <strong>Game name:</strong>
    <%= game.game_name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= game.note %>
  </p>

  <p>
    <strong>List value limit:</strong>
    <%= game.list_value_limit %>
  </p>

  <p>
    <strong>Mission rule:</strong>
    <%= game.mission_rule %>
  </p>

  <p>
    <strong>Deployment:</strong>
    <%= game.deployment %>
  </p>

  <p>
    <strong>Battle round:</strong>
    <%= game.battle_round %>
  </p>

  <p>
    <strong>Player one list:</strong>
    <%= game.player_one_list_id %>
  </p>

  <p>
    <strong>Player two list:</strong>
    <%= game.player_two_list_id %>
  </p>

  <p>
    <strong>Player one vps:</strong>
    <%= game.player_one_vps %>
  </p>

  <p>
    <strong>Player two vps:</strong>
    <%= game.player_two_vps %>
  </p>

</div>
