<div id="<%= dom_id ability %>">
  <p>
    <strong>Id:</strong>
    <%= ability.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ability.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ability.description %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= ability.rule %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= ability.example %>
  </p>

  <p>
    <strong>Tldr:</strong>
    <%= ability.tldr %>
  </p>

</div>
