<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= unit.note %>
  </p>

  <p>
    <strong>Leader one:</strong>
    <%= unit.leader_one_id %>
  </p>

  <p>
    <strong>Leader two:</strong>
    <%= unit.leader_two_id %>
  </p>

  <p>
    <strong>Squad:</strong>
    <%= unit.squad_id %>
  </p>

  <p>
    <strong>Squad quantity:</strong>
    <%= unit.squad_quantity %>
  </p>

  <p>
    <strong>Enhancement:</strong>
    <%= unit.enhancement_id %>
  </p>

</div>
