<div id="<%= dom_id enhancement %>">
  <p>
    <strong>Id:</strong>
    <%= enhancement.id %>
  </p>

  <p>
    <strong>Detachment:</strong>
    <%= enhancement.detachment_id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= enhancement.cost %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= enhancement.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= enhancement.description %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= enhancement.rule %>
  </p>

</div>
