<%= form_with(model: enhancement) do |form| %>
  <% if enhancement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enhancement.errors.count, "error") %> prohibited this enhancement from being saved:</h2>

      <ul>
        <% enhancement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :detachment_id, style: "display: block" %>
    <%= form.number_field :detachment_id %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.number_field :cost %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :rule, style: "display: block" %>
    <%= form.text_field :rule %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
